<a href="https://colab.research.google.com/github/kinyuac101/Git-GitHub-Project/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world!")

Hello world!

In [ ]:
"Python Print Function"
"The function is declared like this:"
"print('what to print')"

"print('what to print')"

In [ ]:
print("hello world! \nhello world! \nhello world! \n")

hello world!
hello world!
hello world!

In [ ]:
input('what is your name?')

what is your name?Cyrus

'Cyrus'

In [ ]:
input('What is your talent?')

What is your talent?skating

'skating'

In [ ]:
age = 25
age

25

In [ ]:
favnumber = 38
favnumber

38

In [ ]:
favourite_meal = "ugali_beef"
favourite_meal

'ugali_beef'

In [ ]:
favourite_meal.lower()

'ugali_beef'

In [ ]:
favourite_meal.upper()

'UGALI_BEEF'

In [ ]:
favourite_meal.replace("beef","veges")

'ugali_veges'

In [ ]:
greeting = "Hello World"

In [ ]:
print(greeting)

Hello World

In [ ]:
len(greeting)

11

In [ ]:
uppercase_greeting = greeting.upper

In [ ]:
greeting.upper()

'HELLO WORLD'

In [ ]:
greeting.lower()

'hello world'

In [ ]:
favourite_meal = 'ugali_beef'
accompaniment = 'stoney'
lunch = favourite_meal +", "+ accompaniment
print(lunch)
print (lunch, 2)

ugali_beef, stoney
ugali_beef, stoney 2

In [ ]:
name = 'Cyrus'
age = 25
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is Cyrus and I'm 25 years old.

In [ ]:
"Hello, My name is {} and I'm {} years old". format(name, age)

"Hello, My name is Cyrus and I'm 25 years old"

In [ ]:
2 + 2

4

In [ ]:
5/2

2.5

In [ ]:
5//2

2

In [ ]:
10 % 3

1

In [ ]:
min_salary = 20_000
max_salary = 80_000

average_salary = (min_salary + max_salary) / 2
average_salary

50000.0

In [ ]:
x, y, z = 1,2,3

print(x)
print(y)
print(z)

1
2
3

In [ ]:
x = 1
y = 2

x, y = y, x # swap values

print("x is now: ", x)
print("y is now: ", y)

x is now:  2
y is now:  1

In [ ]:
x = 1 # lets increment x by 1
x = x + 1 # not pythonic
x

2

In [ ]:
text = "Hello, Python World!"
words = text.split()
extracted_word = words[1]
print()
extracted_word

'Python'

In [ ]:
mpesa_balance = 1000
if mpesa_balance > 65:
  print ("buy bread")

buy bread

In [ ]:
mpesa_balance = 65
if mpesa_balance > 65:
  print ("buy bread")
else :
  print ("access fuliza")

access fuliza

In [ ]:
mpesa_balance = 65
if mpesa_balance > 65:
  print ("buy bread")
elif mpesa_balance > 20 :
  print ("buy mandazi")
else :
  print ("access fuliza")

buy mandazi

In [ ]:
mpesa_balance = 30
if mpesa_balance > 65:
  print ("buy bread")
elif mpesa_balance > 20 :
  print ("buy mandazi")
else :
  print ("access fuliza")

buy mandazi

In [ ]:
mpesa_balance = 19
if mpesa_balance > 65:
  print ("buy bread")
elif mpesa_balance > 20 :
  print ("buy mandazi")
else :
  print ("access fuliza")

access fuliza

In [ ]:
passmark = 70
grade = 54
if grade > passmark:
  print ("pass")
else:
  print ("fail")

fail

In [ ]:
if 10 < 5:
  print("Whats up data nerds")
else:
  print("Hey data nerds")

Hey data nerds

In [ ]:
if 10 > 5:
  print("Whats up data nerds")
else:
  print("Hey data nerds")

Whats up data nerds

In [ ]:
applicant_skill = 'sql'
job_skill = 'sql'

In [ ]:
applicant_skill = 'sql'
job_skill = 'sql'

if applicant_skill == job_skill:
  result = 'skill match'

In [ ]:
if applicant_skill == job_skill:
  result = 'skill match'

In [ ]:
age = 19

if age < 13:
  print ("You can go to the park.")
elif 13 <= age < 18:
  print ("You can join a teen club.")
else:
  print ("You can apply for a driving license.")

You can apply for a driving license.

In [ ]:
grade = 65
if grade >80:
  print ("A")
elif 60 < grade <=80:
  print ("B")
elif 40 < grade <=60:
  print ("C")
else:
  print ("D")

B

In [ ]:
9//2

4

In [ ]:
book = {
    'title': 'How to BEAT your WIFE II',
    'author': 'Steve Ogan',
    'publication_year': 2006
}

In [ ]:
print(book['title'])  # Output: How to BEAT your WIFE II

How to BEAT your WIFE II

In [ ]:
book['genre'] = 'Fiction'

In [ ]:
book.pop('publication_year')

2006

In [ ]:
if 'author' in book:
    print("Author is present.")  # Output: Author is present.
else:
    print("Author is not present.")

Author is present.

In [ ]:
for key, value in book.items():
    print(f'{key}: {value}')

title: How to BEAT your WIFE II
author: Steve Ogan
genre: Fiction

In [ ]:
person = {
    'name': 'Cyrus',
    'age': 27,
    'hobbies': ['skating', 'cycling', 'swimming']
}

#Access and print the person's hobbies:

print(person['hobbies'])  # Output: ['skating', 'cycling', 'swimming']

['skating', 'cycling', 'swimming']

In [ ]:
print ('Very important! \nVery important! \nVery important! \n')

Very important!
Very important!
Very important!

In [ ]:
print ("Hello"+"Gomycode")

HelloGomycode

In [ ]:
print ("Hello"+" "+"Gomycode")

Hello Gomycode

In [ ]:
input ("What's your name")

What's your nameCyrus

'Cyrus'

In [ ]:
print ("Hello"+ input ("What's your name"))

What's your nameCyrus
HelloCyrus

In [ ]:
print("Day 1 - String Manipulation")
print("String Concatenation is done with the ""+"" sign.")
print('e.g. print("Hello " + "world")')
print(("New lines can be created with a backslash and n."))

Day 1 - String Manipulation
String Concatenation is done with the + sign.
e.g. print("Hello " + "world")
New lines can be created with a backslash and n.

In [ ]:
num = 3
if num > 0:
	print(num, "is a positive number.")
	print("This is always printed.")

3 is a positive number.
This is always printed.

In [ ]:
x=10
if x==1:
      print('X is equal to 1')
elif x==5:
      print('X is equal to 5')
elif x==10:
      print('X is equal to 10')
else:
      print('X =', x)

X is equal to 10

In [ ]:
age = 16
if age > 18:
  print ("Eligible to Vote!")
else:
  print ("Not Eligble")

Not Eligble

In [ ]:
engine_size = 4600
if engine_size <1200:
  print ("Dudu Car")
elif 1200 >= engine_size <2500:
  print ("Average Machine")
elif 2500 >= engine_size <3500:
  print ("Good Machine")
else:
  print ("Beast")

Beast

In [ ]:
order_total = 150
customer_membership = True

if order_total >= 100 and customer_membership == True:
    print("Discount applied.")
else:
    print("Discount not applied.")

Discount not applied.

In [ ]:
order_total = 75
customer_location = "USA"

if order_total >= 50 or customer_location == "USA":
    print("Free shipping applied.")
else:
    print("Shipping fee applied.")

Shipping fee applied.

In [ ]:
is_member = False

if not is_member:
    print("Customer is not a member.")
else:
    print("Customer is a member.")

Customer is not a member.

In [ ]:
number = int(input("Enter a number: "))

# Check if the number is even or odd
if number % 2 == 0:
    print(f"{number} is an even number.")
else:
    print(f"{number} is an odd number.")

Enter a number: 22
22 is an even number.

In [ ]:
age = int(input ("Enter your age"))
if age < 18:
  print (f"{age} is still a minor.")
else:
  print (f"{age}) can join the club.")

Enter your age12
12 is still a minor.

In [ ]:
age = int(input ("Enter your age"))
if age < 18:
  print (f"{age} is still a minor.")
else:
  print (f"{age} can join the club.")

Enter your age27
27 can join the club.

In [ ]:
# Input: Ask the user to enter a number
number = int(input("Enter a number: "))

# Check if the number is divisible by 2 and greater than 10
if number % 2 == 0 and number > 10:
    print(f"{number} is divisible by 2 and greater than 10.")
else:
    print(f"{number} does not meet both conditions (divisible by 2 and greater than 10).")

Enter a number: 32
32 is divisible by 2 and greater than 10.

In [ ]:
# Input: Ask the user to enter a number
number = int(input("Enter a number: "))

# Check if the number is divisible by 2 and greater than 10
if number % 2 == 0 and number > 10:
    print(f"{number} is divisible by 2 and greater than 10.")
else:
    print(f"{number} does not meet both conditions (divisible by 2 and greater than 10).")

Enter a number: 25
25 does not meet both conditions (divisible by 2 and greater than 10).

In [ ]:
# Input: Ask the user to enter a number
number = int(input("Enter a number: "))

# Check if the number is divisible by 2 and greater than 10
if number % 2 == 0 and number > 10:
    print(f"{number} is divisible by 2 and greater than 10.")
else:
    print(f"{number} does not meet both conditions (divisible by 2 and greater than 10).")

Enter a number: 9
9 does not meet both conditions (divisible by 2 and greater than 10).

In [ ]:
# Input: Ask the user to enter a number
number = int(input("Enter a number: "))

# Check if the number is divisible by 2 or greater than 10
if number % 2 == 0 or number > 10:
    print(f"{number} is either divisible by 2 or greater than 10 (or both).")
else:
    print(f"{number} is neither divisible by 2 nor greater than 10.")

Enter a number: 27
27 is either divisible by 2 or greater than 10 (or both).

In [ ]:
# Input: Ask the user to enter a number
number = int(input("Enter a number: "))

# Check if the number is divisible by 2 or greater than 10
if number % 2 == 0 or number > 10:
    print(f"{number} is either divisible by 2 or greater than 10 (or both).")
else:
    print(f"{number} is neither divisible by 2 nor greater than 10.")

Enter a number: 7
7 is neither divisible by 2 nor greater than 10.

In [ ]:
x = (2>5) == (3==6)
if x :
    print('x is True')
else:
    prin('x is not True')

x is True

In [ ]:
x=19
if x < 10:
    print ("Good morning")
elif x<12:
    print ("Soon time for lunch")
elif x<18:
    print ("Good day")
elif x<22:
    print ("Good evening")
else:
    print ("Good night")

Good evening

In [ ]:
print (2*2)

4

In [ ]:
print (4**4)

256

In [ ]:
score = 15
print(f"Your score is {score}")

Your score is 15

In [ ]:
def print_age():
    name = "Mary"
    age = 35
    print(f"{name} is {age} years old.")

# Call the function
print_age()

Mary is 35 years old.

In [ ]:
def print_grade():
    name = "John"
    grade = 6
    print(f"{name} is in grade{grade}.")

    print_grade()

In [ ]:
# Input: Ask the user to enter their current age
current_age = int(input("What is your current age? "))

# Constants
max_age = 90
days_in_a_year = 365
weeks_in_a_year = 52
months_in_a_year = 12

# Calculations
years_left = max_age - current_age
days_left = years_left * days_in_a_year
weeks_left = years_left * weeks_in_a_year
months_left = years_left * months_in_a_year

# Output using f-strings
print(f"You have {days_left} days, {weeks_left} weeks, and {months_left} months left.")

What is your current age? 37
You have 19345 days, 2756 weeks, and 636 months left.

In [ ]:
l=[9, 13, 2]
for i in l:
  print(i)

9
13
2

In [ ]:
input ("Whats your name")

Whats your namecyrus

'cyrus'

In [ ]:
name = input ("Whats your name")
print(name)

Whats your namecyrus
cyrus

In [ ]:
name = "Cyrus"
print(name)

Cyrus

In [ ]:
a, b, c = 5, 3.2, "Hello"
print (a)
print (b)
print (c)

5
3.2
Hello

In [ ]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

In [ ]:
x="me"
print(type(x))

<class 'str'>

In [ ]:
x=7
print(type(x))

<class 'int'>

In [ ]:
town = "embu_blueValley"
print(town)

embu_blueValley

In [ ]:
# Greeting message
print("Hello! Welcome to the program.")

# Ask for the user's name
name = input("What's your name? ")

# Personalized greeting
print(f"Nice to meet you, {name}! Hope you're having a great day.")

Hello! Welcome to the program.
What's your name? Cyrus
Nice to meet you, Cyrus! Hope you're having a great day.

In [ ]:
print("Hello and good morning")
#greetings
name = input("what is your name")
#personalized greetings
print(f"Have a blessed day {name}")

Hello and good morning
what is your nameCyrus
Have a blessed day Cyrus

In [ ]:
input("What city did you grow up in?")

What city did you grow up in?Embu

'Embu'

In [ ]:
#Ask the user for the name of a pet.
print("do you love pets?")
#name
name = input("What is the name of your pet?")
print (f"i really love {name}")

do you love pets?
What is the name of your pet?Snowy
i really love Snowy

In [ ]:
print ("Drinks are available")
fave_drink = input("Do you mind taking a ")
print(f"I have alays desired to have a cold {fave_drink}")

Drinks are available
Do you mind taking a Stoney
I have alays desired to have a cold Stoney

In [ ]:
my_college = "gomycode"
print(my_college)

gomycode

In [ ]:
my_college = "gomycode"
print(my_college)
print(f"welcome to {my_college}")

gomycode
welcome to gomycode

In [ ]:
my_string = "welcome to python"
print("my_string[0] = ", my_string[0])

my_string[0] =  w

In [ ]:
my_string = "welcome to python"
print("my_string[-1] = ", my_string[-1])

my_string[-1] =  n

In [ ]:
my_string = "welcome to python"
print("my_string[1:5] = ", my_string[1:5])

my_string[1:5] =  elco

In [ ]:
my_string = "welcome to python"
print("my_string[5:-2] = ", my_string[5:-2])

my_string[5:-2] =  me to pyth

In [ ]:
strng1 = "Welcome to"
strng2 = "coding world!"
print(strng1 +" " +strng2)

Welcome to coding world!

In [ ]:
my_integer = 1,2,3
print(my_integer )

(1, 2, 3)

In [ ]:
My_floats  = 1.256234
print(My_floats)

1.256234

In [ ]:
10<5

False

In [ ]:
15>11

True

In [ ]:
print((2>5) == (6>2))

False

In [ ]:
# Input: a two-digit number
two_digit_number = input("Enter a two-digit number: ")

# Extract the digits from the input
digit1 = int(two_digit_number[0])  # First digit
digit2 = int(two_digit_number[1])  # Second digit

# Calculate the sum of the digits
digit_sum = digit1 + digit2

# Print the output
print(f"{digit1} + {digit2} = {digit_sum}")

Enter a two-digit number: 25
2 + 5 = 7

In [ ]:
# Q2 Welcome message
print("Welcome to Python Pizza Deliveries!")

Welcome to Python Pizza Deliveries!

In [ ]:
# Q2 Begin by typing the line 'Welcome to Python Pizza Deliveries' which will display a welcome message when the code is run.
print("Welcome to Python Pizza Deliveries!")

#Q3 Add a line that prompts the user for the size of the pizza they want using the input() function and stores the user's input in a variable named 'size'.
size = input("What size pizza do you want? S, M, or L: ").upper()

Welcome to Python Pizza Deliveries!
What size pizza do you want? S, M, or L: L

In [ ]:
# Q2: Begin by typing the line 'Welcome to Python Pizza Deliveries' which will display a welcome message when the code is run.
print("Welcome to Python Pizza Deliveries!")

#Q3: Add a line that prompts the user for the size of the pizza they want using the input() function and stores the user's input in a variable named 'size'.
size = input("What size pizza do you want? S, M, or L: ").upper()

#Q3: Add a line that prompts the user if they want pepperoni on their pizza using the input() function and stores the user's input in a variable named 'add_pepperoni'.
add_pepperoni = input("Do you want pepperoni? Y or N: ").upper()

Welcome to Python Pizza Deliveries!
What size pizza do you want? S, M, or L: L
Do you want pepperoni? Y or N: Y

In [ ]:
# Q2: Begin by typing the line 'Welcome to Python Pizza Deliveries' which will display a welcome message when the code is run.
print("Welcome to Python Pizza Deliveries!")

#Q3: Add a line that prompts the user for the size of the pizza they want using the input() function and stores the user's input in a variable named 'size'.
size = input("What size pizza do you want? S, M, or L: ").upper()

#Q4: Add a line that prompts the user if they want pepperoni on their pizza using the input() function and stores the user's input in a variable named 'add_pepperoni'.
add_pepperoni = input("Do you want pepperoni? Y or N: ").upper()

#Q5: Add a line that prompts the user if they want extra cheese on their pizza using the input() function and stores the user's input in a variable named 'extra_cheese'.
extra_cheese = input("Do you want extra cheese? Y or N: ").upper()

Welcome to Python Pizza Deliveries!
What size pizza do you want? S, M, or L: L
Do you want pepperoni? Y or N: Y
Do you want extra cheese? Y or N: Y

In [ ]:
# Q2: Begin by typing the line 'Welcome to Python Pizza Deliveries' which will display a welcome message when the code is run.
print("Welcome to Python Pizza Deliveries!")

#Q3: Add a line that prompts the user for the size of the pizza they want using the input() function and stores the user's input in a variable named 'size'.
size = input("What size pizza do you want? S, M, or L: ").upper()

#Q4: Add a line that prompts the user if they want pepperoni on their pizza using the input() function and stores the user's input in a variable named 'add_pepperoni'.
add_pepperoni = input("Do you want pepperoni? Y or N: ").upper()

#Q5: Add a line that prompts the user if they want extra cheese on their pizza using the input() function and stores the user's input in a variable named 'extra_cheese'.
extra_cheese = input("Do you want extra cheese? Y or N: ").upper()

#Q6: Check your code for any syntax errors or mistakes.
# Code is free from any errors

#Q7: Run the code and test it by providing inputs for size, pepperoni, and extra cheese.

Welcome to Python Pizza Deliveries!
What size pizza do you want? S, M, or L: L
Do you want pepperoni? Y or N: Y
Do you want extra cheese? Y or N: N

In [ ]:
# Determine the base price based on pizza size
if size == "S":
    bill = 15
elif size == "M":
    bill = 20
elif size == "L":
    bill = 25

# Add cost for pepperoni if requested
if add_pepperoni == "Y":
    if size == "S":
        bill += 2  # Pepperoni for small pizza
    else:
        bill += 3  # Pepperoni for medium or large pizza

# Add cost for extra cheese if requested
if extra_cheese == "Y":
    bill += 1
# Q1 Open a new file in your Python development environment or IDE.
#Did my assignment on google colabs

# Q2: Begin by typing the line 'Welcome to Python Pizza Deliveries' which will display a welcome message when the code is run.
print("Welcome to Python Pizza Deliveries!")

#Q3: Add a line that prompts the user for the size of the pizza they want using the input() function and stores the user's input in a variable named 'size'.
size = input("What size pizza do you want? S, M, or L: ").upper()

#Q4: Add a line that prompts the user if they want pepperoni on their pizza using the input() function and stores the user's input in a variable named 'add_pepperoni'.
add_pepperoni = input("Do you want pepperoni? Y or N: ").upper()

#Q5: Add a line that prompts the user if they want extra cheese on their pizza using the input() function and stores the user's input in a variable named 'extra_cheese'.
extra_cheese = input("Do you want extra cheese? Y or N: ").upper()

#Q6: Check your code for any syntax errors or mistakes.
# Code is free from any errors

#Q7: Run the code and test it by providing inputs for size, pepperoni, and extra cheese.

# Output the final bill
print(f"Your final bill is: ${bill}.")

Welcome to Python Pizza Deliveries!
What size pizza do you want? S, M, or L: S
Do you want pepperoni? Y or N: N
Do you want extra cheese? Y or N: Y
Your final bill is: $28.

In [ ]:
weight = 65
if weight >= 80:
  print("Overweight")
elif weight >60:
  print("Doing well, please maintain")
elif weight >50:
  print("Are you stressed up, do more to recover lost weight")
else:
  print("You are underweight, please reach out!")

Doing well, please maintain

In [ ]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print(my_list[1])

java

In [ ]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print(my_list[2])

SQL

In [ ]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print(my_list[2:5])

['SQL', 'R', 'SAS']

In [ ]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print(len(my_list))

8

In [ ]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
my_list.append("Matlab")
print(my_list)

['python', 'java', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'Matlab']

In [ ]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
my_list.insert(1,"Spark")
print(my_list)

['python', 'Spark', 'java', 'SQL', 'R', 'SAS', 'C++', 'php', 'html']

In [ ]:
my_dictionary =	{"knowledge": "Data Science",
                 "tool": "python",
                 "year": 2020}
for key in my_dictionary.keys():     # Loop Through dictionary keys
  print(key)

knowledge
tool
year

In [ ]:
my_dictionary =	{"knowledge": "Data Science","tool": "python","year": 2020}
for value in my_dictionary.values():    #  Loop Through dictionary values
   print(value)

Data Science
python
2020

In [ ]:
my_dictionary =	{"knowledge": "Data Science","tool": "python","year": 2020}
for item in my_dictionary.items():     # Loop Through dictionary items
   print(item)

('knowledge', 'Data Science')
('tool', 'python')
('year', 2020)

In [ ]:
print("Hello Esssy, how are you?")
input("feeling ")
input("How has your day been ")
input("Were you able to take lunch today? Y or N: ").upper()
print("It has always been a pleasure, HAVE A GREAT EVENING: :)")

Hello Esssy, how are you?
feeling Am good you?
How has your day been great thank you
Were you able to take lunch today? Y or N: n
It has always been a pleasure, HAVE A GREAT EVENING: :)

In [ ]:
my_education = {"diploma": "business_management", "degree": "bcom","masters": "strategic_management","certification": "data_science"}
for key in my_dictionary.keys():
  print(key)

knowledge
tool
year

In [ ]:
my_education = {"diploma": "business_management", "degree": "bcom","masters": "strategic_management","certification": "data_science"}
for value in my_dictionary.values():
   print(value)

Data Science
python
2020

In [ ]:
my_education = {"diploma": "business_management", "degree": "bcom","masters": "strategic_management","certification": "data_science"}
for item in my_dictionary.items():
   print(item)

('knowledge', 'Data Science')
('tool', 'python')
('year', 2020)

In [ ]:
#Create a tuple called "person" that contains a string "John" as a name, 25 as an age and "male" as a gender.
person = ("John", 25, "male")
print(person)

('John', 25, 'male')

In [ ]:
#Create a tuple called "person" that contains a string "John" as a name, 25 as an age and "male" as a gender.
person = ("John", 25, "male")
print(person)
#Try to change the age of the person and see what happens.
person.remove("age")
print(person)

('John', 25, 'male')

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
#Create a list called "grocery_list" that contains "milk", "bread", "eggs", "bananas"
my_list = ["milk", "bread", "eggs", "bananas"]
print(my_list[0])   #Print the first item in the grocery_list.

milk

In [ ]:
my_list = ["milk", "bread", "eggs", "bananas"]
#Add "chocolate" to the grocery_list
my_list.append("chocolate")
print(my_list)

['milk', 'bread', 'eggs', 'bananas', 'chocolate']

In [ ]:
my_list = ["milk", "bread", "eggs", "bananas", "chocolate"]
#Remove "milk" from the grocery_list
my_list.remove("milk")
print(my_list)

['bread', 'eggs', 'bananas', 'chocolate']

In [ ]:
#Create a set called "unique_numbers" that contains the integers 1, 2, 3, 4, 5
unique_numbers = {1,2,3,4,5}
print(unique_numbers)

{1, 2, 3, 4, 5}

In [ ]:
#Add number 6 to the unique_numbers
unique_numbers = {1,2,3,4,5}
unique_numbers.add(6)
print(unique_numbers)

{1, 2, 3, 4, 5, 6}